annotated-types==0.6.0
asttokens==2.4.1
asyncio==3.4.3
certifi==2024.2.2
cffi==1.16.0
cryptography==42.0.5
decorator==5.1.1
delimited-protobuf==1.0.0
executing==2.0.1
importlib_metadata==7.1.0
ipython==8.23.0
jedi==0.19.1
linkify-it-py==2.0.3
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
numpy==1.26.4
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.43
protobuf==5.26.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyfiglet==1.0.2
pygeodesic==0.1.9
Pygments==2.17.2
pytak==6.3.2
python-dateutil==2.9.0.post0
rich==13.7.1
scipy==1.13.0
six==1.16.0
stack-data==0.6.3
takproto==2.1.1
termcolor==2.4.0
textual==0.56.0
traitlets==5.14.2
typing_extensions==4.11.0
uc-micro-py==1.0.3
urllib3==2.0.7
visidata==3.0.2
wcwidth==0.2.13
zipp==3.18.1
